<div class="container">
	<h4 class="center-align"><%= @skill.name %></h4>
	<% if @skill.projects.any? %>
	<ol>
		<% @skill.projects.each do |project| %>
		<li><%= link_to project.name, skill_project_path(@skill, project) %></li>
		<% end %>
	</ol>
	<% else %>
	<p class="center-align">No projects</p>
	<%= link_to "Add new project", skill_projects_url %>
	<% end %>
</div>
