<div class="parallax-container">
  <div class="parallax" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://static.pexels.com/photos/35884/amazing-beautiful-beauty-blue.jpg) no-repeat center center fixed;">
    <h2 class="center" style="color: white; padding-top: 100px;">The complexity Of Simplicity</h2>
  </div>
</div>
